.nav-bg h1 a {
  color: #fff;
  text-decoration: none;
}

.nav-bg a:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.nav-bg {
  z-index: 99;
  background-color: black;
  padding: 0px;
  width: 100vw;
  margin-bottom: 0px;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  color: white;
  gap: 20px;
}

.nav-container a {
  color: white;
}

.logo {
  padding: 20px 0px;
}
.logo-txt {
  font-size: 32px;
  font-weight: 800;
  transition: 0.2s;
}




.logo-txt:hover {
  letter-spacing: 1.5px;

}

.pesquisar {
  padding: 15px 10px;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
}

.button {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  padding: 15px;
  background-color: rgb(56, 55, 55);
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #00ffdd;
  transition: 2s;
}

.login-bg h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 60px;
  padding-bottom: 30px;
  align-items: center;
  padding-top: 10px;
}

header li {
  list-style: none;
}
header ul {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 10px;
}

header li a {
  color: rgb(0, 0, 0);
}

.logotipo {
  cursor: pointer;
}

.cor {
  color: rgb(0, 255, 221);
}
.nav2-bg {
  border-top: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.856);
  margin-bottom:20px ;

}

.nav2-bg ul.nav2-container-lista {
  margin: 0;
  padding: 2px 20px;
  padding-top: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.nav2-bg ul.nav2-container-lista li a {
  color: white;
  padding-bottom: 5px;
padding: 0px 35px;
  display: block;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.nav2-bg ul.nav2-container-lista li a:hover {
  color: wheat;

}


ul.nav2-container-lista li:hover {
  color: wheat;
  transition: 0.3s;

}


.compras{
  width: 40px;
  height: 40px;
  cursor: pointer;
}